.container{
  margin-top:5vh;
}
.mat-card{
  display: flex;
  justify-content: space-around;
  margin-bottom:5px;
  background-color: #62CCBF;
  color: white
}
.item{
  flex-grow: 1;
  flex-basis: 0;
}
.containerL{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
