<div class='container'>
  <div  *ngFor="let item of prices">
    <mat-card>
      <div class='item'>{{item.type}}</div>
      <div class='item'>{{item.category}}</div>
      <div class='item'>{{item.value}} €</div>
      <mat-icon *ngIf="adminOption" (click)='onDeletePrice(item.id)'>delete</mat-icon>
    </mat-card>
  </div>
  <form  *ngIf='adminOption' class='containerL' [formGroup]="priceForm" (ngSubmit)="onSubmitPriceForm()">
    <mat-form-field>
      <input  matInput type='text' placeholder="Age" formControlName='type'>
    </mat-form-field>

    <mat-form-field>
      <input matInput type='text' placeholder="Categorie" formControlName='category'>
    </mat-form-field>

    <mat-form-field>
      <input matInput type='number' placeholder="Prix" formControlName='value'>
    </mat-form-field>

    <button mat-button type="submit" [disabled]="!priceForm.valid"><mat-icon>add</mat-icon>Tarif</button>
  </form>
</div>
