.example-card {
  width: 400px;
  height: 60vh;
  border-radius: 4%;
  background-color: #5FB3A8;
}

.example-header-image {
  background-image: url('../../../../assets/grenouille.jpg');
  background-size: cover;
}

.mat-card-content, .mat-card-header{
  background-color: #5FB3A8;
  color: white;
}

