/* .presentation {

  height: 100vh;
  background-image: url("../../../assets/maps.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
} */
.illustre{
  width: 40%;
  float: right;
  margin:20px;
}
h2{
  margin-left: 40px;
}
