<div class='container'>
  <div class='box'>
    <mat-form-field >
      <input placeholder='Entrez votre ville' type="search" matInput [(ngModel)]="searchWord">
      <mat-icon (click)="search(searchWord)" matSuffix>search</mat-icon>
      <blockquote *ngIf="representations?.length == 0">Nous passerons rapidement près de chez vous</blockquote>
    </mat-form-field>
    <button class='add' mat-button *ngIf='adminOption' routerLink='/representations/nouvelle'> Ajouter une date </button>
  </div>
  <ul *ngFor="let data of representations; let i = index">
    <mat-card [ngStyle]="{'background-color': data.full?'#FAA5A5':'#62CCBF'}">
      <div class='item'>{{data.city}}</div>
      <div class='item'>{{data.date | date :'dd/MM/yyyy'}}</div>
      <div class='item'>{{data.time}} </div>
      <div class='item'>{{data.address}}</div>
      <mat-slide-toggle  *ngIf="adminOption" [checked]="(data.full)?true:false" (change)="onChange($event, i)">Complet</mat-slide-toggle>
      <mat-icon class='admin' *ngIf="adminOption" (click)='onDeleteFile(data.id, i)'>delete</mat-icon>
    </mat-card>
  </ul>
</div>

