  <div class="container" id="ressources">
    <h4 class="title">Toutes nos dates</h4>

    <div class="recherche">
      <mat-form-field appearance="outline">
        <input placeholder='Entrez votre ville' type="search" matInput [(ngModel)]="searchWord">
        <mat-icon (click)="search(searchWord)" matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <blockquote *ngIf="representations?.length == 0">Nous passerons rapidement près de chez vous</blockquote>

    <ul *ngFor="let data of representations; let i = index">
      <div class="document">
            <span class='city'>{{data.city}} </span> Le {{data.date}} à {{data.time}} {{data.adress}}
            <mat-slide-toggle  *ngIf="adminOption" [checked]="(data.full)?true:false" (change)="onChange($event, i)">Complet</mat-slide-toggle>
            <mat-icon class='admin' *ngIf="adminOption" (click)='onDeleteFile(data.id, i)'>delete</mat-icon>
        </div>
    </ul>
  </div>

