<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>


      <a mat-list-item routerLink="/presentation">
        <div class="item" routerLinkActive="is-active">
          Présentation
        </div>
      </a>

      <a mat-list-item routerLink="/representations">
        <div class="item" routerLinkActive="is-active">
          Représentations
        </div>
      </a>

      <a mat-list-item routerLink="/artistes">
        <div class="item" routerLinkActive="is-active">
          Artistes
        </div>
      </a>

      <a mat-list-item routerLink="/tarifs">
        <div class="item" routerLinkActive="is-active">
          Tarifs
        </div>
      </a>

      <a mat-list-item routerLink="/contact">
        <div class="item" routerLinkActive="is-active">
          Contactez-nous
        </div>
      </a>


    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class='navbar'>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <h1>Wild Circus</h1>
        <div>
          <a routerLink="/auth" *ngIf="!adminOption">	<mat-icon>person</mat-icon></a>
          <a (click)='onLogout()' *ngIf="adminOption" ><mat-icon>meeting_room</mat-icon></a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
