.sidenav-container {
  height: 100%;
  background-color:#FFEEAD
}

.sidenav {
  background-color:#FAA5A5;

}

.sidenav .mat-toolbar {
  background: inherit;
  background-color:#FAA5A5;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #C6F2C2;

}
.mat-toolbar{
  background-color: #5FB3A8;
  text-align: center;
  color: White;
}

.navbar{
  justify-content: space-between;
  background-repeat: no-repeat;
  height: 150px;
}

span {
  padding-right: 1rem;

}
.mat-nav-list{
  margin-top: 200px;
}
.mat-list-item{
  color:#B356AE
}

.is-active {
  color: white;
}
h1{
  font-size: 50px;
  margin : auto;
  color: White;
}
.mat-icon{
  font-size: 40px;
  color: white;
  margin-right: 20px;
  margin-top: 15px;
}
